
<% include layouts/header.ejs %> 

      <div class="container">
          <a href="/create" class="btn btn-outline-primary mt-4"><i class="fa-solid fa-plus"></i></a>
        <div class="table-responsive">
          <table id="users" class="table table-dark table-hover table-bordered table-striped text-center mt-4">
              <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">USUARIO</th>
                    <th scope="col">ROL</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">CEL</th>
                    <th scope="col">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((user) => { %>                  
                  
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.user %></td>
                    <td><%= user.rol %> </td>
                    <td><%= user.mail %></td>
                    <td><%= user.cel %> </td>
                    <td>
                        <a href="/edit/<%= user.id %>" class="btn btn-outline-info"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a onclick="confirmar(<%= user.id %>)" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                <% }) %>
              </tbody>
          </table>
        </div>
      </div>

      <script>
      
        $(document).ready(function() {
          $('#users').DataTable();
      } );


      

      
        function confirmar(id) {
          Swal.fire({
              title: '¿Confirma eliminar el registro: '+id+'?',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#6c757d',
              confirmButtonText: 'Confirmar'
            }).then((result) => {
              if (result.isConfirmed) {   
                window.location = '/delete/'+id;                              
              }
          });
        };
      </script>

      <% include layouts/footer.ejs %> 