
<% include layouts/header.ejs %> 

      <div class="container">
          <a href="/create" class="btn btn-outline-primary mt-4"><box-icon name='plus-circle' size='md'></box-icon></a>
        <div class="table-responsive">
          <table class="table table-dark table-hover table-bordered table-striped text-center mt-4">
              <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">USUARIO</th>
                    <th scope="col">ROL</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">CEL</th>
                    <th scope="col">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((user) => { %>                  
                  
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.user %></td>
                    <td><%= user.rol %> </td>
                    <td><%= user.mail %></td>
                    <td><%= user.cel %> </td>
                    <td>
                        <a href="/edit" class="btn btn-outline-info">Editar</a>
                        <a href="/delete" class="btn btn-outline-danger">Borrar</a>
                    </td>
                </tr>
                <% }) %>
              </tbody>
          </table>
        </div>
      </div>

      <% include layouts/footer.ejs %> 